<!DOCTYPE html>
<html>
	<head>
	<meta charset="ISO-8859-1">
		<title>Equipos</title>
		<link  rel="stylesheet" href="css/estilos.css"/>
	</head>
		<body>
		  <div id="d">
	    
          <header>
	          <h1>Liga de fútbol profecional</h1>
	      </header>
	       
	      <nav>
	         <ul>
	             <li><a href="index.html">Home</a> </li>
	             <li><a href="fixture.html">Fixture y resultados</a> </li>
	             <li><a href="equipos.html">Equipos</a> </li>
	         </ul>
	      </nav> 
	      
	      <section id="s">
	            <div id="imagenes">
	                 <img src="img/arcenal.png">
		                 <h2>COPAS GANADAS</h2>
		                 <div id="imagenes2"><img src="img/Copas.png"></div>
		                 <div id="imagenes3"><img src="img/felicitaciones.gif"></div>
	                 
	            </div> 
	            <div id="texto">
	                    <h2>Arsenal Fútbol Club</h2>
			            <p>El año 1957 amaneció con la República Argentina gobernada por el General Aramburu , (to davía faltaba 
			            un año para que los argentinos volvieran a votar, en unas elecciones en las que se impondría el voto en 
			            blanco, pero que llevarían a Frondizi a la presidencia ). Los E.E.U.U consagraban presidente a Eisenhower y la U,R.S.S.
			             a Jruschov. dando fin a 12 años de postguerra y comenzando la guerra fría.
                         En Occidente sonaban los primeros Rock n' Roll's.</p>
                         <p>Al fútbol le faltaba un año para deslumbrarse con Pelé en el mundial del '50. todavía faltaban tres años para que 
                         naciera el mas grande, Diego Armando Maradona. En África se creaba la Confederación Africana de Fútbol y se jugaba la 
                         primera Copa de África; en Europa el Real Madrid volvía a ganar la Copa de Campeones y en las Islas Británicas el 
                         Arsenal de Inglaterra arrasaba en cada partido con sus contrarios</p>
			            
						<p>En Sarandí el 11 de Enero de 1957, un grupo de muchachos se reunió en el ex bar "Las 3 FFF" y , con la ilusión de 
						todo principio, fundaron el Arsenal Fútbol Club . Entre aquellos socios fundadores podemos citar a los señores Julio
						 Humberto Grondona ( qui en fue el primer presidente ), Roberto Estévez. Horacio Montero, Orlando Acosta, Juan C. Utazún
						  ( ex presidente ),Eloy de Medio, José M. Pérez, Francisco Ceferino ( socio número uno), Arnaldo Pandini, José Berdía,
						   Gabriel Blanco, José Bueno, Américo Besada y Juan E. Elena ( quien fuera técnico del club ).</p>
                </div>
	      </section>
	      
	      <aside>
	         <div id="aus">
	           <h2>Auspiciante</h2>
	         </div>
		         <div id="q">
	             </div>
	               <div id="A1"><img src="img/adidas.png"/></div>
	               <div id="A2"><img src="img/macro.png"/></div>
	               
	               <div id="A4"><img src="img/visa.gif"/></div> 
	      </aside>
	     
	      <footer>
	           <h2>Pueden contactarnos por:</h2>
	          <p>FACEBOOK:www.facebook.com/tycsports</p>
	          <p>TWITTER:www.twitter.com/tycsports</p>
	          <p>INSTAGRAM:www.instagram.com/tycsports/</p>
	      </footer>
		 </div> 
		</body>
</html>